@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
}

.messageText {
  background-color: #E7E7E7;
}

.own {
  align-items: flex-end;
}

.message.own .messageText {
  color: white;
  background-color: #1FCD9D;
}

.chatMessageInput {
  background: #EFF6FCDE;
}

.sendButton,
.leftpanel {
  background: #1FCD9D;
}

.chatboxwrapper {
  overflow-y: scroll;
}

.messenger {
  height: 100%;
}

.herotext {
  color: #344054;
}

.googborder {
  border: 1px solid #D0D5DD
}